body {
    background-color:#222;
    color:white;
    font-family:'Segoe UI';
    background-image:url('../Images/Map1280x800.jpg');
    background-size:cover;
}

.title{
    font-family:Arial;
    letter-spacing:4px;
    font-size:2em;
    text-shadow: 2px 2px 2px blue, -2px -2px 4px pink;
}

.chat-room{
    position:relative;
}

.chat{
    width:700px;
    margin:auto auto;
}

.chat-log{
    height:300px;
    border-top:2px solid #000;
    border-left:2px solid #000;
    border-bottom:2px solid #000;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border-right:0px;
    background-color:rgba(0, 0, 0, 0.55);
    margin:20px 0px;
    overflow-y:scroll;
    overflow-x:hidden;
    padding:5px;
    display:inline-block;
    width:500px;
    max-width:500px;
    box-shadow:0 0 20px #fff;
}

.chat-participants{
    height:300px;
    border-top:2px solid #000;
    border-right:2px solid #000;
    border-bottom:2px solid #000;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-left:0px;
    margin:20px 0px 20px -4px;
    overflow-x:hidden;
    padding:5px;
    display:inline-block;
    width:100px;
    box-shadow:0 0 20px #fff;
    background-color:rgba(0, 0, 0, 0.55);
    color: yellow;
}

.chat-msg.me{
    color:#0f0;
}

.message{
    width:400px;
}

.audio-switch{
    display:block;
    width:27px;
    height:27px;
    background-image:url('../Images/icons.png');
    cursor:pointer;
    position: absolute;
    left: -35px;
    top: 25px;
}

.audio-switch.disabled {
    background-position-x:27px;
}

input{
    border:1px solid #000;
    border-radius:4px;
    padding:4px;
    box-shadow:0 0 10px #fff;
}

input:disabled {
    box-shadow:none;
    background:#555;
    color:#aeaeae;
}

label{
    text-align:right;
    padding-right:4px;
}

button{
    padding:5px;
    min-width:100px;
    border-radius:5px;
    box-shadow:0 0 10px green;
}

button:disabled{
    padding:5px;
    min-width:100px;
    border-radius:5px;
    box-shadow:0 0 10px red;
}

input.error{
    border:2px solid #f00;
}