<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Terminal Server</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="http://vtortola.github.io/ng-terminal-emulator/src/vtortola.ng-terminal.js"></script>
    <script src="content/scripts/app.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://vtortola.github.io/ng-terminal-emulator/src/vtortola.ng-terminal.css" rel="stylesheet">
    <link href="content/styles/app.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet" type="text/css">
    <style>
        .terminal-line {
            color: #fff;
            background-color: #000;
            border: none;
            border-radius: 0;
        }
    </style>
    <!--http://angular-ui.github.io/bootstrap/-->
</head>
<body ng-app="terminalServer" ng-controller="mainController">
    <section id="content">
        <section id="header" class="page-header">
            <h1>WebSocketListener: Terminal Server</h1>
        </section>
        <section id="sidebar">
            <button class="btn btn-primary" ng-click="createConsole()">Create console</button>
        </section>

        <section id="terminals">
            <tabset>
                <tab ng-repeat="terminal in terminals" ng-controller="consoleController" ng-init="init(terminal)" 
                     select="select()" deselect="deselect()">
                    <tab-heading>
                        {{terminal.type}}
                        <a class="glyphicon glyphicon-off" href="#" ng-click="close()"></a>
                        <a class="glyphicon glyphicon-download-alt" href="#" ng-class="{transparent: !pendingOutput}"></a>
                    </tab-heading>
                    <div>
                        <div class="terminal-container">
                            <terminal></terminal>
                        </div>
                    </div>
                </tab>
            </tabset>
        </section>
    </section>
</body>
</html>
