html {
    height:100%;
}
body{
    background-color:#dedede;
    height:100%;
}

#content{
    height:100%;
    width:1280px;
    margin:auto auto;
    background-color:#fff;
}

#header{
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    text-align:right;
    background-color:#3EAA76;
    margin:10px 20px;
    height:80px;
    vertical-align:middle;
    position:relative;
    color:#fff;
}

#header h1{
    position:absolute;
    bottom:0;
    right:0;
    padding-right:50px;
}

#terminals {
    width:1000px;
    display:inline-block;
}

#sidebar{
    width:200px;
    display: inline-block;
    vertical-align: top;
    text-align:center;
}

.transparent{
    color:transparent;
}

.terminal-container{
    margin: 0 10px 10px 10px;
}
.terminal-container .terminal {
    background:none;
    background-color:#000;
    box-shadow:none;
    border-radius:0px;
}
.terminal-container .terminal-viewport{
    margin:0;
    padding:10px;
    overflow-y:scroll;
    height:100%;
}

.tab-content{
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD;
}