<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/default.css" rel="stylesheet" />
    <title>WebSocket Test MVC</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
