@{
    ViewBag.Title = "Continuous";
}

<h2>Continuous</h2>

<h2>WebSocket Continuous Test</h2>
<p>The server will return the text reversed.</p>
<div id="input">
    <div id="characters1"></div>
    <div id="characters2"></div>
</div>
<div id="log">

</div>

<script>
    //https://gist.github.com/electricg/4372563
    var clsStopwatch = function () {
        // Private vars
        var startAt = 0;	// Time of last start / resume. (0 if not running)
        var lapTime = 0;	// Time on the clock when last stopped in milliseconds

        var now = function () {
            return (new Date()).getTime();
        };

        // Public methods
        // Start or resume
        this.start = function () {
            startAt = startAt ? startAt : now();
        };

        // Stop or pause
        this.stop = function () {
            // If running, update elapsed time otherwise keep it
            lapTime = startAt ? lapTime + now() - startAt : lapTime;
            startAt = 0; // Paused
        };

        // Reset
        this.reset = function () {
            lapTime = startAt = 0;
        };

        // Duration
        this.time = function () {
            return lapTime + (startAt ? now() - startAt : 0);
        };
    };

    var log = document.getElementById('log');
    var characters1 = document.getElementById('characters1');
    var characters2 = document.getElementById('characters2');
    var text = "Ghostbusters is a 1984 American supernatural comedy film directed by Ivan Reitman and written by Dan Aykroyd and Harold Ramis. The film stars Bill Murray, Aykroyd, and Ramis as three eccentric parapsychologists in New York City who start a ghost catching business. Sigourney Weaver and Rick Moranis co-star as a potential client and her neighbor. The Ghostbusters business booms after some initial skepticism, but when an uptown high-rise apartment building becomes the focal point of spirit activity linked to the ancient god Gozer, the problem threatens to overwhelm the team and the entire world. Originally intended by Aykroyd as a project for himself and fellow Saturday Night Live alumnus John Belushi, the film had a very different story during initial drafts. Aykroyd's vision of 'Ghostmashers' traveling through time, space, and other dimensions to fight large ghosts was deemed financially impractical by Reitman. Based on the director's suggestions, Aykroyd and Ramis finalized the screenplay from May–June 1982. They had written roles specifically for Belushi, John Candy, and Eddie Murphy, but were forced to change the script after Belushi died and the latter two actors would not commit to the film. Released in the United States on June 8, 1984, Ghostbusters was a critical success, receiving a positive response from critics and audiences, while grossing US$238 million in the United States[2] and more than $291 million worldwide. The film was nominated for two Oscars at the 57th Academy Awards ceremony for Best Visual Effects and Best Original Song (for the eponymous theme song), but lost both to Indiana Jones and the Temple of Doom and The Woman in Red respectively. The American Film Institute ranked Ghostbusters 28th in its AFI's 100 Years...100 Laughs list of film comedies. The film launched the Ghostbusters media franchise, which includes: a 1989 sequel, Ghostbusters II; two animated television series, The Real Ghostbusters and Extreme Ghostbusters; and several video games.";

    for (var i = 0; i < 10; i++) {
        text += text;
    }

    var ws = new WebSocket("ws://127.0.0.1:8001", "text");

    var timer = new clsStopwatch();
    var interval = null;

    ws.onopen = function (event) {
 
        interval = setInterval(function () {
            timer.reset();
            characters1.textContent = text.length;
            characters2.textContent = '';
            timer.start();
            ws.send(text);
        }, 500);
    };

    ws.onmessage = function (event) {
        timer.stop();
        log.textContent = timer.time();
        characters2.textContent = event.data.length;
    }

    ws.onerror = function (event) {
        clearInterval(interval);
        alert(event.data);
    }
</script>



