* {
    border-radius:5px;
    padding:2px;
}

#input{
    width:300px;
    display:inline-block;
}

textarea{
    width:90%;
}

#log{
    width:300px;
    display:inline-block;
    border:1px solid #000;
    vertical-align:top;
    min-height:400px;
    max-height:400px;
    overflow-y:scroll;
}

.log-msg{
    margin:0px;
}

